.seat_reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}
.range_picker {
  margin-top: 2%;
}

.compliance_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: rgb(122, 141, 237);
  border-radius: 20px;
  width: 110px;
  font-weight: bold;
  font-size: 14px;
  cursor: inherit;
  color: white;
  align-self: flex-start;
}

.compliance_btn:hover {
  border: 2px solid transparent;
  color: black;
  transform: scale(1.05);
  will-change: transform;
}
